@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: powderblue;
}

h1 {
    color: blue;
}

p {
    color: red;
}
